.video__gif {
    width: 100vw;
    /* height: 100vh; */
}

.videoInformation{
    height: 1px;
    
}

.video {
    position: relative;
}
.video h1 {
    max-width: 1050px;
    text-align: center;
    position: absolute;
    top: 390px;
    left: 435px;
    z-index: 9;
    background: linear-gradient(90deg, #a3f7e6 0%, #b051f7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: JetBrains Mono;
    font-size: 150px;
    font-weight: 500;
    letter-spacing: -7.5px;
}


